footer.o_footer
{
    @include position(relative);

    @if color('footer') {
        @include o-bg-color(color('footer'));
        background-image:linear-gradient(90deg, lighten(color('footer'), 60%) , color('footer'));
        border-top: 1px solid nth($f_color,8);
    }
    a
    {
        @include style(3,28);
    }
    .te_footer_payment_img
    {
        text-align: right;
        @include media-breakpoint-down(sm)
        {
            text-align: left;
            margin-top: 1rem;
        }
    }
    .te_copyright_add_language {
        color:nth($f_color,28);
    }
}
#footer
{
    .te_block_title
    {
        @include style(8,28);
        font-weight: 600;
        margin-bottom: 20px;
        display: inline-block;
    }
    ul
    {
        padding: 0;
        list-style-type: none;
		margin: 0;
        li
        {
            padding: 12px 0;
        }
    }
    .te_end_ftr_container
    {
        border-top: 1px solid nth($f_color,8);
        padding-top: 1.5rem;
        margin-top: 1rem;
    }
    .te_footer_info_text
    {
        li
        {
            padding: 12px 0;
            &:first-child
            {
                padding-top:0;
            }
            .te_footer_add_tel_email_text_ept span
            {
                vertical-align: top;
                color:nth($f_color,28);
            }
            .te_ftr_text_style
            {
                width: calc(100% - 24px);
        	    @include style(3,28);
                a
                {
                    @include style(3,28);
                }
            }
            .te_title_span
            {
                line-height: 1;
                @include style(2,28);
                margin-bottom: 5px;
            }
        }
    }
    .te_footer_social_icon > a
    {
        color:nth($f_color,3);
        background-color:nth($f_color,5);
        margin: 10px 3px 8px 0;
		padding:0;
		span
		{
			display:inline-block;
			padding: 0.625rem 0.3125rem;
		}
    }
    .te_footer_info_ept
    {
		>section:first-child
		{
			li
			{
				padding-top:0;
			}
		}
        a{
            padding-left: 0;
            @include transition(all, 0.5s, ease-in-out);
            display: inline-block;
            word-break: break-word;
            &:hover
            {
                padding-left: 10px;
                color:nth($f_color,19);
            }
        }
    }
    .te_footer_add_tel_email .js_language_selector .dropdown-menu{
        @include media-breakpoint-down(sm){
            transform: translate3d(65px, -73px, 0px) !important;
        }
    }
    @include media-breakpoint-down(md)
    {
        padding-top:0;
        .s_text_block
        {
            padding-top: 24px !important;
            .te_footer_add_tel_email
            {
                margin-bottom: 30px;
                border-bottom: 1px solid nth($f_color,8);
                padding-bottom: 20px;
            }
        }
    }
    @include media-breakpoint-down(sm)
    {
        .te_contact_info
        {
            border-top: 1px solid nth($f_color,8);
            padding-top: 30px;
        }
    }
}