/*--------- Static Menu ------------*/
#top_menu > li > ul.dropdown-menu
{
	border-top: 1px solid #ced4da; /*This color is not used in variables*/
}
.te_header_navbar
{
	box-shadow: 0px 0px 4px $border-color;
	background: nth($f_color,27);
	padding: 0;
	min-height: 40px;
	@include media-breakpoint-down(sm)
	{
		border-top: 0;
		padding-bottom: 8px;
		box-shadow: none;
	}
	& .navbar-brand
	{
		display:none;
		@include media-breakpoint-down(sm)
		{
			display: inline-block;
		}
	}
	#top_menu_collapse_clone
	{
		padding: 0;
	}
	#top_menu_collapse
	{
		& #top_menu
		{
			width: 100%;
			> li
			{
				border-left: 1px solid $border-color;
				padding: 2px 10px;
				>a.nav-link
				{
					color:nth($f_color,6);
					font-size:nth($f_sizes,3);
				}
				>a.nav-link.active
				{
					color:nth($f_color,19);
				}
				&:hover >a.nav-link
				{
					color:nth($f_color,19);
				}
				@include media-breakpoint-down(sm)
				{
					border-left:0;
				}
			}
			& :last-child{
			    border-left:0px;
			}
		}
		@include media-breakpoint-down(sm)
		{
			background-color:nth($f_color,5);
		}
	}
}
/*------- Header Offer Text, Company Logo, Cart Icon, Search Box, Wishlist Icon --------*/
.te_header_style_2_main{
     .te_header_search {
        form.o_wsale_products_searchbar_form{
            .dropdown-menu.show{
                & button.dropdown-item:active{
                    color: nth($f_color, 5) !important;
                }
            }
        }
    }
	& .te_login_right{
		padding: 0;
		& a.btn-link{
			padding: 13px 5px;
			font-size: nth($f_sizes,3);
		}
	}
	@include media-breakpoint-down(md)
	{
		& .te_header_style_2_inner{
			.col-lg-6:nth-child(1){
				width:30%;
			}
			.col-lg-6:nth-child(2){
				width:70%;
			}
		}
		& .te_ftr_before_bg{
			& .te_offer_left{
				display: none;
			}
			& .te_login_right{
				& a.btn-link{
					padding: 13px 0px;
				}
			}
		}
	}
	@include media-breakpoint-down(sm)
	{
		width: 100%;
		display: inline-block;
		padding: 10px 15px 0;

		.te_header_before_logo img{
			max-height: 50px;
		}
		& .te_ftr_before_bg{
			width: auto;
			float: right;
			background: nth($f_color,27);

			& .container
			{
				width: 100%;
			}
			& .te_offer_left{
				display:none;
			}
			& .te_login_right{
				width: 100%;
				position: initial;
				padding: 10px 0px;

				& .btn-link, a.dropdown-toggle, .te_signin > a{
					@include style(3,3);
				}
				& .px-2 .te_signin a.btn.btn-link {
                    padding-left: 0px;
                }
				& a.btn-link{
					padding:0 8px;
				}
				> div.text-right{
					& .px-2{
						padding: 0 !important;
					}
				}
			}
		}
		.te_cart_icon_head, .te_wish_icon_head
		{
			a{
				font-size: nth($f_sizes,2);
				padding:0 9px;
				sup
				{
					padding: 3px 5px;
				}
			}
		}
		& .te_header_style_2_inner{
			width: auto;
			float: right;
			& .row.py-3{
				padding: 0 !important;
			}
			.col-lg-6:nth-child(1){
				display:none;
			}
			.col-lg-6:nth-child(2){
				width:100%;
				padding: 12px 0px;
				position: initial;
			}
		}
	}
}
/*------ User Administrator Text --------*/
.te_user_account
{
	@include media-breakpoint-down(lg) {
		.te_user_account_name
		{
			display: none;
		}
		.te_user_account_icon, .te_user_account_icon > i
		{
			display: inline-block !important;
		}
	}
	@include media-breakpoint-down(md)
	{
        .dropdown-menu{
            &:before{
                right: 12px;
            }
            &:after{
                right: 11px;
            }
        }
    }
	@include media-breakpoint-down(sm)
	{
		.te_user_account_icon
		{
			i
			{
				display:inline-block !important;
			}
		}
	}

}
.te_login_right
{
	.btn-link,a.dropdown-toggle,.te_signin > a
	{
		color:nth($f_color,5);
	}
	.js_language_selector button.btn.btn-sm.btn-secondary.dropdown-toggle
	{
	    color:nth($f_color,5);
	    padding: 13px 5px;
	}
	> div.text-right > div
	{
		display: inline-block;
		vertical-align: middle;
	}
	div.te_pricelist:first-child
	{
		.dropdown-menu
		{
			left:0px !important;
			right:0;
			@include media-breakpoint-down(sm)
			{
				left:-5px !important;
			}
		}
	}
	.te_pricelist
	{
	    .dropdown-menu
        {
            &:before{
                left:20px;
            }
            &:after{
                left:19px;
            }
        }
	}
	.te_header_lang{
	    @include media-breakpoint-down(sm)
	    {
            .dropdown-menu
            {
                &:before{
                    left:unset;
                    right:21px;
                }
                &:after{
                    left:unset;
                    right:20px;
                }
            }
        }
	}
}
.te_header_before_overlay
{
    .js_language_selector .dropdown-menu,
    .js_language_selector .dropdown-menu.show{
        top: 25px !important;
    }
    .te_header_style_2_main
    {
        .js_language_selector .dropup .dropdown-toggle::after
        {
            border-top: 0.3em solid;
            border-bottom: 0;
        }
        @include media-breakpoint-down(sm)
        {
            .te_login_right .js_language_selector button.btn.btn-sm.btn-secondary.dropdown-toggle,
            .te_login_right .js_language_selector .btn-group-sm > button.btn.btn-secondary.dropdown-toggle{
                padding:0px 8px;
                color: nth($f_color,3);
            }
            .js_language_selector .dropdown-menu,
            .js_language_selector .dropdown-menu.show {
                top: 1px !important;
                right: 0px;
                left: auto !important;
            }
        }

    }

}

/*------ Header Offer Text ---------*/
.te_offer_left
{
	.te_s_header_offer_text
	{
		float:left;
		ul > li
		{
			color:nth($f_color,5);
			@include media-breakpoint-down(md)
			{
				font-size:nth($f_sizes,3) !important;
			}
		}
	}
	.te_header_w_share >a
	{
		color:nth($f_color,5);

		&:hover
		{
			opacity:0.8;
			color:nth($f_color,5);
		}
	}
}
.te_ftr_before_bg
{
	background-color:nth($f_color,19);
	color:nth($f_color,5);
}
.te_header_style_2_inner
{
	.te_header_style_2_right
	{
		text-align: right;
	}
}
/*-------- Search Box -----------*/
.te_srch_icon_header{
	display:none;
}
.te_search_popover
{
	 & input.form-control
      {
        border-radius: 30px !important;
        border-color: nth($f_color,27);
        @include box-shadow(0 1px 5px 0 rgba(32, 33, 36, 0.2))
      }
      & button.oe_search_button
      {
        @include position(absolute,auto,0px,auto,auto);
        color:nth($f_color,3);
        background-color:nth($f_color,27);
        z-index: 9;
      }
}
.te_header_search
{
	display:inline-block;
	width:70%;
	margin-right: 10px;
	@include media-breakpoint-down(lg)
	{
		width:65%;
	}
	@include media-breakpoint-down(sm)
	{
		width: auto;
		margin-right: 8px;
		& .te_srch_icon_header
		{
			display:block;
			a
			{
				color:nth($f_color,3);
				outline: none;
			}
			i
			{
				vertical-align:baseline;
			}
		}
		 .te_search_popover {
		    opacity: 0;
			visibility: hidden;
			@include transform(translate(0,10px))
			outline:0;
			@include position(absolute,65px,0px,auto,0);
			width: 100%;
			padding: 4px 10px;
             &.visible {
                @include transform(translate(0,-20px))
                @include transition(all,0.5s,cubic-bezier(0.75, -0.02, 0.2, 0.97))
                opacity:1;
                z-index: 999;
              }
			}
		.te_search_popover:before {
		    z-index: -1;
		    content: '';
		    @include position(absolute,-8px,calc(50% - 10px),auto,auto);
		    @include transition(transform,0.3s,null)
		}
		.te_srch_close
		{
			display: none;
		}
	}
}
.te_header_style_2_right
{
    .te_header_search
    {
        .btn-primary:not(:disabled):not(.disabled):active,
        .btn-primary:not(:disabled):not(.disabled).active,
        .show > .btn-primary.dropdown-toggle
        {
            background-color: transparent;
            color: nth($f_color,3);
        }
    }
}
/*------- Header Cart and Wishlist Icon --------*/
.te_cart_icon_head, .te_wish_icon_head
{
	display:inline-block;
	a{
		padding: 0 12px;
		@include position(relative);
		display: inline-block !important;
		@include style(7,3)
		sup
		{
			@include border-radius(12px);
			width: auto;
			padding: 4px 6px;
			vertical-align: top;
			font-size: nth($f_sizes,9);
			@include position(absolute, -10px, -0px);
			display: inline-block !important;
		}
		i
		{
			display: inline-block !important;
		}
	}
}
.te_bar_icon
{
	display:inline-block;
	a{
		padding: 0 12px;
		@include style(7,3);
		@include media-breakpoint-down(sm)
		{
			padding: 0 8px;
			font-size: nth($f_sizes,2);
		}
	}
}
