/*=========================== Header Style 7 ===============================*/
.te_header_navbar
{
	padding-bottom: 0px;
	padding-top:0px;
	background-color: nth($f_color,5);
	min-height:86px;
	@include media-breakpoint-down(md){
	  min-height: auto;
	}
	.container
	{
		padding: 0;
	}
	.navbar-brand.logo
	{
		padding: 0;
		img
		{
			max-height: 4rem;
			@include media-breakpoint-down(md)
			{
				max-height: 3.5rem;
			}
			@include media-breakpoint-down(sm)
			{
				max-height: 3rem;
			}
		}
		@include media-breakpoint-down(md)
		{
			text-align: center;
			width:auto;
		}
	}
	.navbar-brand.logo.col-lg-2 {
        max-width: 16.666667% !important; /* bootstrep class conflicted with logo*/
    }
	.navbar-collapse
	{
		@include media-breakpoint-down(md)
		{
			background: nth($f_color,5);
			@include box-shadow(0px 0px 4px nth($f_color,17))
			margin-top: 10px;
			max-height: calc(100vh - 105px);
			overflow: scroll;
		}
		> ul
		{
			> li
			{
				>a.nav-link
				{
					@include style(1,3);
					padding-top: 2rem;
					padding-bottom: 2rem;
					@include media-breakpoint-down(md)
					{
						padding: 0.5rem;
						margin: 0;
						font-size: nth($f_sizes,3);
					}
				}
				&:hover >a.nav-link, >a.nav-link.active
				{
					color:nth($f_color,19);
				}
			}
			@include media-breakpoint-down(md)
			{
				text-align: left !important;
				padding: 5px 15px;
			}
		}
	}
}
.te_header_before_right{
    .te_header_right_icon
    {
        text-align: right;
        >div
        {
            display: inline-block;
            padding: 0 8px;
            a
            {
                @include style(7,3);
                outline:none;
                &:hover
                {
                    color:nth($f_color,19);
                }
                @include media-breakpoint-down(xs)
                {
                    font-size: nth($f_sizes,2);
                }
            }
        }
        > div.te_cart_icon_head,
        > div.te_wish_icon_head {
            padding: 0px 19px 0px 8px;
        }
        > div.te_header_search {
            padding: 0px 6px;
        }
        @include media-breakpoint-down(md)
        {
            width:auto;
            padding-left: 5px;
            padding-right: 5px;
        }
        @media (max-width: 370px) /* media query for header 7 mobile view */
        {
            text-align: left;
            display: inline-flex;
        }
        .te_wish_icon_head{
            a{
                sup{
                    @include media-breakpoint-down(xs)
                    {
                       right: -11px !important;
                    }
                }
            }
        }
        .te_cart_icon_head, .te_wish_icon_head
        {
            a{
                padding:0;
                @include position(relative);
                display: inline-block !important;
                sup
                {
                    @include border-radius(12px);
                    width: auto;
                    padding: 4px 6px;
                    vertical-align: top;
                    font-size: nth($f_sizes,9);
                    @include position(absolute, -8px, -15px);
                    display: inline-block !important;
                    @include media-breakpoint-down(md)
                    {
                        top: -9px;
                    }
                    @include media-breakpoint-down(xs)
                    {
                        padding: 3px 5px;
                        top: -8px;
                        right: -12px;
                    }
                }
                i
                {
                    display: inline-block !important;
                }
            }
        }
        .te_toggler_icon
        {
            button
            {
                color:nth($f_color,3);
                border:0;
                @include media-breakpoint-down(xs)
                {
                    @include position(relative,1px);
                }
            }

        }
        .te_bar_icon
        {
            a
            {
                font-size: nth($f_sizes,8);
                @include media-breakpoint-down(xs)
                {
                    font-size: nth($f_sizes,1);
                }
            }
        }
    }
    .te_header_account
    {
        .dropdown-menu{
            &:before, &:after{
                right: 13px;
            }
        }
    }
}
.te_searchform
{
	@include position(relative);
	&__popup
	{
		width: 100%;
		height: 100%;
		@include position(fixed,0,unset,unset,0);
		visibility:hidden;
		background-color: rgba(nth($f_color,5),0.9);
		text-align: center;
		@include transition(all, 0.25s, ease-in-out);
		z-index: 999;
		color:nth($f_color,3);
		.header .navbar-brand
		{
			margin-bottom: 1.5rem;
			@include style(4,3);
			letter-spacing: 1px;
			@include media-breakpoint-down(md)
			{
				font-size:nth($f_sizes,7);
			}
		}
	    &.open
	    {
	    	visibility: visible;
	    	.te_searchform__body
	    	{
			    visibility: visible;
			    opacity: 1;
			    transform: scale(1);
			    @include position(relative,-15%);
                @include media-breakpoint-down(sm)
                {
                    top: -4%;
                }
	    	}
	    }
	    .te_btn-close
	    {
			display: block;
			@include position(absolute,20%,20%);
			z-index: 5;
			opacity: 1;
			@include media-breakpoint-down(sm)
			{
				right:10%;
			}
			@include media-breakpoint-down(xs)
			{
				right:5%;
			}
		    i{
		    	font-size:nth($f_sizes,15);
		    	@include transition(all, 0.3s, ease-out);

		    	&:before{
					content: '\00d7';
				}
				@include media-breakpoint-down(sm)
				{
					font-size:nth($f_sizes,12);
				}
		    }
		    &:hover
		    {
		    	i{
    				transform: rotateZ(90deg);
					color:nth($f_color,19);
		    	}
		    }
	    }
	}
	&__body
	{
	    display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	    max-width: 100%;
	    height: 100%;
	    text-align: center;
	    font-size:nth($f_sizes,8);
	    transform: scale(0.9);
	    opacity: 0;
	    visibility: hidden;
	    @include transition(all, 0.3s, ease-in-out);
	}
}
.te_searchform__body.te_header_style_7_main_search .dropdown-menu.show a {
    border-bottom: 1px solid #ededed;
}
.te_header_lang ul.js_language_selector {
    padding: 13px 5px;
    @include media-breakpoint-down(sm){
        .dropdown-menu{
            &:before{
                left:11px;
            }
            &:after{
                left:10px;
            }
        }
    }
}
.te_header_style_7_main{
    .te_header_before_right.col-lg-8 {
        padding:10px 5px;
        @include media-breakpoint-down(md)
        {
            width: 60%;
        }
        @include media-breakpoint-down(sm)
        {
            text-align:right;
        }
    }
    .te_header_before_left.col-lg-4
    {
        padding-left: 4px;
        @include media-breakpoint-down(md)
        {
            width: 40%;
        }
        @media (max-width: 370px) /* media query for header 7 mobile view */
        {
            width: 35%;
            padding-right:0px;
        }
    }
}
.te_searchform__body.te_header_style_7_main_search
{
    .dropdown-menu.show {
        min-height: 400px;
        height: 100%;
        overflow: auto;
        @include media-breakpoint-down(sm)
        {
            min-height:350px;
        }
    }
    form.o_wsale_products_searchbar_form{
        .dropdown-menu.show{
            & button.dropdown-item:active{
                color: nth($f_color, 5) !important;
            }
        }
    }
}
.te_searchform__body
{
	input.search-query.form-control.oe_search_box
	{
	    border: 0;
		border-bottom: 2px solid nth($f_color,10);
		@include style(12,3);
		background-color:nth($f_color,27);
		padding: 1rem 5rem 1rem 1rem;
		@include transition(all, 0.3s, ease-out);
		font-weight: 300;
		max-width: 100%;
		letter-spacing: 1px;
		outline:none;
		@include media-breakpoint-down(md)
		{
			font-size:nth($f_sizes,4);
		}
		@include media-breakpoint-down(sm)
		{
			font-size:nth($f_sizes,7);
			@include text-ellipsis;

		}
	}
	button.btn.btn-primary.oe_search_button
	{
        cursor: pointer;
		background-color:nth($f_color,27);
		border: 0;
		@include style(12,3);
		@include position(absolute,50%,0);
		transform: translateY(-50%);
		z-index:9;
		@include media-breakpoint-down(md)
		{
			font-size:nth($f_sizes,4);
		}
		@include media-breakpoint-down(sm)
		{
			font-size:nth($f_sizes,7);
		}
    }
}
.te_searchform__body
{
    .te_text
    {
        margin-bottom: 1.5rem;
        @include style(4,3);
        letter-spacing: 1px;
        @include media-breakpoint-down(md)
		{
			font-size:nth($f_sizes,7);
		}
    }
    input.search-query.form-control.oe_search_box
    {
        &:focus
        {
            box-shadow:none;
        }
        &::placeholder
        {
            color: #b1b1b1; /*This color is not used in variables*/
        }
    }
}
.te_header_top
{
	background: nth($f_color,18);
	.te_header_offer_top
	{
		.te_s_header_offer_text
		{
			float: left;
			ul > li
			{
				padding-top:13px;
				padding-bottom:13px;
			}
		}
		@include media-breakpoint-down(md)
		{
			display:none;
		}
	}
	.te_lang_price
	{
		> div
		{
			display: inline-block;
			.te_currency_name{
			    @include media-breakpoint-down(md)
				{
					display: none !important;
				}
			}
			.te_currency_symbol
			{
			    @include media-breakpoint-down(md)
				{
				    display:block !important;
				    padding: 10px;
				    color:nth($f_color,6);
				}
				&:hover
				{
					color:nth($f_color,19);
				}
			}
			.te_currency_name, .te_header_language > a
			{
				display: block;
				padding: 13px 5px;
				@include style(3,6);

				&:hover
				{
					color:nth($f_color,19);
				}
			}
			.te_currency_symbol
			{
				display: none;
			}

		}
		.te_header_lang > .px-2 {
            @include media-breakpoint-down(xs)
            {
                padding: 0px !important;
            }
        }
		.te_header_language
		{
			.te_lang_name
			{
				display:inline-block;

				@include media-breakpoint-down(lg)
				{
					display: none;
				}
			}
		}
		.te_header_pricelist
		{
			.dropdown
			{
				a.dropdown-toggle
				{
					@include media-breakpoint-down(lg)
					{
						&:before
						{
							content:"";
						}
					}
				}
				.dropdown-menu
				{
					left:auto !important;
					right:auto;
					@include media-breakpoint-down(md)
					{
					    &:before{
                            left:11px;
                        }
                        &:after{
                            left:10px;
                        }
					}
					@include media-breakpoint-down(sm)
					{
						transform: translate3d(0, 32px, 0px) !important;
					}
				}
			}
		}
	}
}
.te_header_before_overlay
{
    .te_header_style_7_main
    {
        .js_language_selector
        {
            .dropup .dropdown-toggle::after
            {
                border-top: 0.3em solid;
                border-bottom: 0;
            }
            button.btn.btn-sm.btn-secondary.dropdown-toggle{
                color: nth($f_color,6);
                @include media-breakpoint-down(md)
                {
                    vertical-align: text-bottom;
                }
                &:hover
                {
                    color:nth($f_color,19);
                }
            }
            .dropdown-menu,
            .dropdown-menu.show {
                top: 13px !important;
                @include media-breakpoint-down(sm)
                {
                    left: auto !important;
                    right: auto;
                    top: 1px !important;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm)
{
	.navbar-expand-lg > .container
	{
		padding-right: 15px;
		padding-left: 15px;
	}
}
/*Menu label text styles*/
#top_menu_collapse #top_menu > li > a.nav-link span#menu_label_tx_span{
    top: 16px;
    @include media-breakpoint-down(sm){
        top:auto;
    }
}
@include media-breakpoint-down(md){
    .navbar-collapse span.te_custom_menu_label.label_tx:before {
        border-top-color: unset;
        border-right-color: inherit;
        margin-top: -1px;
    }
    .navbar-collapse span.te_custom_menu_label:before {
        width: 4px;
        height: 4px;
        @include border(4px,27,solid);
        left: -8px;
        top: auto;
        bottom: 6px;
    }
    header.o_header_affix.affix.affixed span#menu_label_tx_span,
    #top_menu_collapse #top_menu > li > a.nav-link span#menu_label_tx_span {
        @include position(absolute,auto,auto,auto,auto);
        margin-left: 25px;
        display: inline-block;
        width: 100px;
    }
    span.te_custom_menu_label{
        right:auto;
        top: 0px;
        word-break: unset;
        bottom: auto;
        white-space: unset;
    }
    .te_header_navbar .navbar-collapse > ul > li > a.nav-link{
        position:relative;
    }
    header.o_header_affix.affix.affixed span#menu_label_tx_span {
        display: inline-block;
        margin-top: -3px;
    }
}