/*============================ Header Style 4 =========================*/
/*----------- Static Menu -----------*/
.te_header_navbar
{
	background-color:nth($f_color,19) ;
	padding: 0;
	min-height: 45px;
	& .navbar-brand
	{
		display:none;
		@include media-breakpoint-down(sm)
		{
    		display: inline-block;
		}
	}
     #top_menu
    {
        margin:0px auto;
        >li
        {
            > a.nav-link
            {
                color : nth($f_color,5);
                font-family: inherit;
                padding: 0.8rem 0.8rem;
                @include position(relative)

                &:before
                {
                    background: nth($f_color,5);
                    content: '';
                    display: block;
                    height: 3px;
                    @include position(absolute,auto,50%,0,50%);
                    width: 0;
                    z-index: 9;
                    @include transition(null,.3s,ease)
                }
            }
            > a.nav-link.active
            {
                &:before
                {
                    left: 0;
                    right: 0;
                    width: 100%;
                }
            }
            > a.nav-link
            {
                &:hover
                {
                    &:before
                    {
                        left: 0;
                        right: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
	@include media-breakpoint-down(sm)
	{
	    background-color: #F9F9F9 !important; /* Not used mixin to add important*/
	    padding: 0.3rem 0rem;
	    .navbar-toggler
	    {
			border-color: rgba(0, 0, 0, 0.4) !important;
		}
		#top_menu_collapse, #top_menu_collapse_clone
		{
			background: nth($f_color,5);
			& #top_menu > li > a.nav-link
			{
				color : nth($f_color,3);
				padding: 0.5rem !important;
			}
		}
	}
}
/*-------- Company Logo --------*/
.te_header_before_logo
{
	img
	{
		max-height:70px;
	}
}
.te_login_right
{
	text-align:right;
	>div
	{
		display: inline-block;
		vertical-align: middle;
		.te_signin {
            margin-left: -8px;
        }

		@include media-breakpoint-down(sm)
		{
	    	display: block;
	    	float: left;
			padding: 10px;
	    }

		a,.btn-link
		{
			@include style(3,4);
		}
		.btn
		{
			padding: 0.375rem;
		}
		.te_user_account .dropdown-menu
        {
            &:hover{
                .dropdown-item{
                   left:unset;
                }
            }
            &:before, &:after{
                left:unset;
            }
        }
	}
	div.px-1.te_pricelist
	{
		.dropdown-menu
		{
			left:0px !important;
			right:0;
			@include media-breakpoint-down(sm)
			{
			    left:auto !important;
				transform: translate3d(0px,22px,0px) !important;
				&:before{
                    left:unset;
                    right:12px;
                }
                &:after{
                    left:unset;
                    right:11px;
                }
			}
		}
	}
	.te_header_language
	{
		a
		{
			&:hover
			{
				color:nth($f_color,4);
				background: nth($f_color,27);
			}
		}
	}
	.te_cart_icon_head, .te_wish_icon_head
	{
		display:inline-block;
		margin: 0px 2px;
		a{
			padding: 0 6px;
			@include position(relative);
			display: inline-block !important;
			@include style(7,4);
			sup
			{
				@include border-radius(12px);
				width: auto;
				padding: 4px 6px;
				vertical-align: top;
				font-size: nth($f_sizes,9);
				@include position(absolute, -11px, -5px);
				display: inline-block !important;
			}
			i
			{
				display: inline-block !important;
			}
		}
	}
	.te_bar_icon
	{
		a
		{
			font-size: nth($f_sizes,7);
			@include media-breakpoint-down(sm)
			{
				font-size: nth($f_sizes,2);
			}
		}
	}
}
.te_header_before_overlay
{
    .te_header_style_4_main
    {
        .js_language_selector
        {
            .dropup .dropdown-toggle::after
            {
                border-top: 0.3em solid;
                border-bottom: 0;
                vertical-align: 0.350em;
            }
            .dropdown-menu,
            .dropdown-menu.show {
                top: 5px !important;
            }
            @include media-breakpoint-down(sm)
            {
                .dropdown-menu,
                .dropdown-menu.show {
                    top: 1px !important;
                    right: 0px;
                    left: auto !important;
                }
            }
        }
    }
}
/*-------- Header Offer Text, Search Icon, Cart Icon, Wishlist Icon, User Text ----------*/
.te_header_4_offer .te_s_header_offer_text
{
	float:left;
}
.te_header_search
{
	button.oe_search_button
	{
		@include position(absolute,auto,0,auto,auto);
		z-index: 9;
	}
	input
	{
		@include box-shadow(0 1px 5px 0 rgba(32, 33, 36, 0.2))
		border-radius: 25px !important;
		border-color: nth($f_color,27);
	}
	@include media-breakpoint-down(sm)
	{
		padding: 10px;
        & .te_srch_icon_header
        {
            display:block;
            a
            {
                @include style(2,4)
                outline: none;
            }
            i
            {
                vertical-align: top;
            }
        }
         .te_search_popover {
            opacity: 0;
            visibility: hidden;
            @include transform(translate(0,10px))
            outline:0;
            @include position(absolute,60px,0px,auto,0);
            width: 100%;
            padding: 8px 10px;
                 &.visible {
                    @include transform(translate(0,-20px))
                    @include transition(all,0.5s,cubic-bezier(0.75, -0.02, 0.2, 0.97))
                    opacity:1;
                    z-index: 999;
                 }
            }
			.te_search_popover:before {
			    z-index: -1;
			    content: '';
			    @include position(absolute,-8px,calc(50% - 10px),auto,auto);
			    @include transition(transform,0.3s,null)
			}
			.te_srch_close
			{
				display: none;
			}
	}
}
.te_srch_icon_header{
	display:none;
}
.te_header_style_4_main
{
    .te_header_search {
        form.o_wsale_products_searchbar_form{
            .dropdown-menu.show{
                & button.dropdown-item:active{
                    color: nth($f_color, 5) !important;
                }
            }
        }
    }
    .js_language_selector
    {
        @include media-breakpoint-down(sm){
            .dropdown-menu{
                &:before{
                    left:unset;
                    right:22px;
                }
                &:after{
                    left:unset;
                    right:21px;
                }
            }
        }
    }
    @media (max-width: 1000px) {
        & .te_header_4_offer{
            width: 66.66%;
            & .te_s_header_offer_text{
                & li{
                    padding: 0 0.4em;
                    font-size:nth($f_sizes,3);
                }
            }
        }
        .te_user_account
        {
            .dropdown-menu{
                &:before, &:after{
                    right: 8px;
                }
            }
        }
        & .te_header_4_search{
            width: 33.33%;
            @include position(initial)
        }
        & .te_header_style_4_inner{
            & .col-lg-4{
                width: 33.33%;
            }
            & .col-lg-8{
                width: 66.66%;

                .te_user_account
                {
                    .te_user_account_name
                    {
                        display: none;
                    }
                    .te_user_account_icon
                    {
                        display:inline-block;
                        font-size:nth($f_sizes,7);
                        i
                        {
                            display:inline-block !important;
                        }
                    }
                }
            }
        }
        & .te_header_before_logo img{
            max-height: 60px;
        }
	}
	@include media-breakpoint-down(sm)
	{
			margin-top: 3px;

			& .te_header_4_offer
			{
				display:none;
			}
			& .te_header_before_logo img
			{
				max-height: 50px;
			}
			& .te_header_style_4_inner
			{
				width: auto;
				float: right;
				& .col-lg-4
				{
					display:none;
				}
				& .col-lg-8
				{
					width: auto;
				}
				& .te_login_right
				{
					& a.btn-link
					{
						padding: 0px 2px;
						font-size:nth($f_sizes,2) !important;
						& .caret
						{
							margin-left: 0px !important;
						}
					}
					.te_cart_icon_head, .te_wish_icon_head, .te_user_account
					{
						a, .te_user_account_icon
						{
							font-size: nth($f_sizes,2);
						}
					}
				}
			}
			& .te_header_style_4_inner_first{
				width: auto;
				float: right;
				margin-top: 4px !important;
				padding: 0 15px;
			}
			 .te_header_4_search
			 {
			 	width: 100%;
			 	padding: 0.5rem 0;
				@include position(initial)
			 }
	}
	.te_search_popover
    {
        button.btn.btn-primary.oe_search_button
        {
            background-color: transparent;
            color: nth($f_color,4);
            border-radius: 25px !important;
            border-color:transparent;
        }
        .btn-primary:not(:disabled):not(.disabled):active:focus,
        .btn-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary.dropdown-toggle:focus
        {
            box-shadow:none;
            border:0px;
        }
    }
}
.te_header_style_4_inner {
    .px-1.te_bar_icon {
        margin: 0px -3px 0px 6px;
        @include media-breakpoint-down(xs){
            margin-right: 3px;
        }
    }
    .px-1.te_pricelist {
        position: relative;
        left: 4px;
    }
}

