/*======================== Header Style 8 =================================*/
/*------- Company Logo and Header Navbar -------*/
.navbar-collapse
{
	@include media-breakpoint-down(sm)
	{
		background:nth($f_color,5);
	}
}
.te_header_search
{
	button.oe_search_button
	{
		@include position(absolute,auto,0,auto,auto);
		z-index: 9;
	}
	form.o_wsale_products_searchbar_form .dropdown-menu.show {
        left: auto;
        right: 0px;
        @include media-breakpoint-down(sm)
        {
            left: 0px;
        }
        button.dropdown-item.text-center.text-primary:active{
            color:nth($f_color,5) !important;
        }
    }
}
.te_header_navbar
{
	padding-bottom: 0px !important;
	@include media-breakpoint-down(md){
        padding-bottom: 0.25rem !important;
    }
	background-color: nth($f_color,5);
    .container {
        padding: 0;
        max-width:100%;
        width: 100%;
        margin: 0 auto;
        @include media-breakpoint-down(md)
        {
        	padding-top: 5px;
        }
        @include media-breakpoint-down(sm)
        {
        	padding-left: 15px !important;
        	padding-right: 15px !important;
        }
    }
    & #top_menu
    {
        >li > a.nav-link
        {
            &:hover
            {
                color:nth($f_color,19);
            }
        }
        >li > a.nav-link.active
        {
            color:nth($f_color,19);
        }
        .o_extra_menu_items a
        {
        	padding: 1.5rem 0.7rem;
        }

    }
    @include media-breakpoint-down(md)
	{
		#top_menu{
			> li > a.nav-link{
				font-size:nth($f_sizes,1);
			}
		}
		.navbar-brand.logo img{
			max-height:50px !important;
		}
	}
	@include media-breakpoint-down(sm)
	{
		#top_menu
		{
			.nav-link
			{
				padding: 0.5rem !important;
			}
			.nav-link.active
			{
				color:nth($f_color,19);
				background: nth($f_color,27) !important;
			}
		}
		.navbar-brand.logo img
		{
			max-height:40px !important;
			max-width: 100px;
		}
		.navbar-toggler
	    {
			border-color: rgba(0, 0, 0, 0.4) !important;
			order: 1;
			margin-right: 20px;
			@media (max-width:365px){
			    margin-right: 0px;
			}
		}
	}
}
.te_header_navbar #top_menu_collapse #top_menu > li > a.nav-link.active {
    color: nth($f_color, 19);
}
.o_header_affix .te_header_navbar .navbar-brand.logo img
{
	height: 2.513rem;
}
/*------- Header Social Icon, Search Icon, Cart Icon, Wishlist Icon, User Icon ---------------------*/
.row.align-items-center
{
    max-width: 100%;
    margin: 0 auto;
    .te_sub_search
	{
	    input.search-query.form-control.oe_search_box
	    {
            background: nth($f_color,27);
		    border: 0;
		    border-bottom: 1px solid nth($f_color,5);
		    padding: 0.1rem 1rem;
		    height: auto;
		    color:nth($f_color,5);
		    order: 2;
		    box-shadow: none;
		    @media (max-width:365px){ /*custom specific media query*/
		       padding: 0.1rem 0.5rem;
		    }
		 }
		 & ::placeholder{
		    color:nth($f_color,5);
		 }
    }
    button.btn.btn-primary.oe_search_button
    {
        color:nth($f_color,5);
        padding: 0.1rem 1rem;
        background-color: transparent;
        border-color: transparent;
    }
	@include media-breakpoint-down(md)
	{
		& .te_header_before_left{
			width: auto;
			padding-left:0;
			& a{
				font-size:nth($f_sizes,3);
			}
		}
		& .te_header_before_right{
			width: auto;
			padding-right:04px;
			@include position(absolute,null,0px);
		}
	}
	@include media-breakpoint-down(sm)
	{
		> .row
		{
			width: 100%;
			display: inline-block;
			margin: 0;
			padding: 0.5rem 0 !important;
			@include position(relative,4px);
		}
		.te_header_before_left {
		    width: auto;
		    float: left;
		    padding-right: 0;

			>div.px-1
			{
				padding: 0;
				border: 0;
			}
		}
		 .te_header_before_right
		 {
		    width: 100%;
		    padding: 0;
		    @include position(initial)
		    display: inline-flex;

		 	> div
		 	{
		 		padding: 5px;
                height: 34px;
		 	}
		 	.te_cart_icon_head, .te_wish_icon_head, .te_bar_icon
			{
		 		a
		 		{
		 			padding: 0 4px;
		 			font-size: nth($f_sizes,2);
		 			sup
		 			{
		 				padding: 3px 5px;
		 				top: -9px;
                        right: 8px;
		 			}
		 		}
			}
			.te_wish_icon_head a {
                padding: 0px 0px 0px 4px;
            }
            .te_cart_icon_head{
			    position: relative;
                left: 7px;
			}
		 	.te_search_icon_header,.te_user_account
		 	{
		 		> a
		 		{
		 			font-size: nth($f_sizes,2) !important;
		 			padding: 0 4px !important;
		 		}
		 	}
		 	.te_search_form_5_page
		 	{
		 		width: 90%;
		 	}
		}
	}
}
@include media-breakpoint-down(md)
{
    .te_header_navbar .navbar-collapse {
         max-width: calc(100% - 350px);
    }
}
.te_header_before_left
{
    padding-left: 0px;
	> div
	{
        display: inline-block;
        vertical-align: middle;
        @include media-breakpoint-down(sm){
            display:none;
        }
		a,.btn-link
		{
		    @include style(6,5);
			margin-left: 0;
		}
		.dropdown-toggle
		{
			padding: 0 0.375rem;
			@include media-breakpoint-down(sm)
			{
				padding: 0;
			}
		}
	}
	> div.px-1
	{
		border-left:1px solid $border-color;
		padding: 0.7rem 0;

		&:last-child
		{
			border-right:1px solid $border-color !important;
			@include media-breakpoint-down(sm)
			{
				border-right:0 !important;
			}
		}
	}
	@include media-breakpoint-up(md)
	{
		.h8_pricelist .dropdown-menu
		{
			left:0px !important;
			right:0;
		}
	}
	.te_header_language
	{
		a
		{
			&:hover
			{
				color:nth($f_color,3);
			}
		}
	}
}
.te_header_before_right
{
	text-align: right;
	padding-right:0px;
	> div:first-child{
	    border-left:0px;
	    @include media-breakpoint-down(sm){
	        width: 100%;
	    }
	}
	>div
	{
		display: inline-block;
		padding: 0.5rem 0;
		border-left:1px solid rgba(255, 255, 255, 0.3);
		vertical-align: middle;
		& .btn.btn-link.te_currency_name,
		& .btn.btn-link.te_currency_symbol{
		    padding:0px;
		    color:nth($f_color,5);
		    &:hover{
		        color:nth($f_color,19);
		    }
		}
	}
	.h8_pricelist, .te_header_lang{
	    padding:10px;
	    min-height:41px;
	    @include media-breakpoint-down(sm){
	        min-height:unset;
	    }
	}
	.te_header_lang
	{
	    .dropdown-menu{
            &:before{
                left:unset;
                right:35px;
                @include media-breakpoint-down(sm)
                {
                    right:16px;
                }
            }
            &:after{
                left:unset;
                right:34px;
                @include media-breakpoint-down(sm)
                {
                    right:15px;
                }
            }
        }
	}
	& ul.js_language_selector{
	    padding-left: 7px;
	}
	.te_header_account
	{
		.te_user_account, .te_signin
		{
			>a
			{
				padding: 0 12px;
				@include style(7,3);
				.te_user_account_icon
				{
					display: inline-block;
				}
			}
		}
	}
	.te_bar_icon
	{
		a
		{
			@include style(7,3);
			padding: 0px 12px;
		}
		@include media-breakpoint-down(sm){
            margin-right: 8px;
        }
	}
}
.te_header_right_icon{
    text-align: center;
    @media (max-width:365px){
        padding:0px;
    }
    @include media-breakpoint-down(sm)
    {
    	text-align: right;
    	padding-right: 0;
    }
    @include media-breakpoint-down(md){
        width:auto;
        padding-top: 2px;
    }
	.te_cart_icon_head, .te_wish_icon_head
	{
		display:inline-block;
		padding: 0px 0px;
		a{
			@include position(relative);
			display:inline-block !important;
			color:nth($f_color,5);
			sup
			{
				@include border-radius(12px);
				width: auto;
				padding: 4px 6px;
				vertical-align: top;
				font-size: nth($f_sizes,9);
				display: inline-block !important;
				top: -10px;
                right: 8px;
			}
			i{
				display: inline-block !important;
			}
		}
	}
	> div.te_header_account{
        padding:0px 0px;
	    .te_user_account_icon{
	        display:inline-block;
	    }
	    .dropdown-menu{
            &:before, &:after{
                right: 12px;
            }
        }
	}
	> div {
        display: inline-block;
        padding: 0 6px;
    }
    > div.te_bar_icon {
        padding: 0px 6px 0px 0px;
        @include media-breakpoint-down(md){
            padding-right:8px;
        }
    }
    > div.te_header_account .px-2.te_signin {
        padding-left: 4px !important;
    }
    > div.te_header_account .dropdown.te_user_account {
        padding-left: 5px;
    }
    > div > a {
        padding: 0;
        color:nth($f_color,5);
    }
    > div.te_header_account a.btn-link{
        color:nth($f_color,5);
    }
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active{
    color:nth($f_color,5);
}
.te_header_social
{
	a
	{
		border-left:1px solid rgba(255, 255, 255, 0.3) !important;
		padding: 0.7rem 0.675rem;
	}
	& a:first-child{
	    border-left:0px !important;
	}
}
.o_wsale_products_searchbar_form{
    margin-right: 10px;
    @include media-breakpoint-down(sm){
        margin:0px 10px;
    }
}
@media (max-width:365px){
    .o_wsale_products_searchbar_form{
        margin: 0px;
    }
}
.te_header_before_overlay
{
    .row.align-items-center
    {
        .js_language_selector
        {
            .dropup .dropdown-toggle::after
            {
                border-top: 0.3em solid;
                border-bottom: 0;
                &:hover{
                    color:nth($f_color,19);
                }
            }
            button.btn.btn-sm.btn-secondary.dropdown-toggle{
                color: nth($f_color,5);
                &:hover{
                    color:nth($f_color,19);
                }
            }
        }
        .te_header_before_right{
            .h8_pricelist{
                .dropdown{
                    padding: 0px 8px;
                }
                .dropdown-menu{
                    &:before{
                        right: 40px;
                        left: auto;
                        @include media-breakpoint-down(sm)
                        {
                            left:78px;
                            right:auto;
                        }
                    }
                    &:after{
                        right: 40px;
                        left: auto;
                        @include media-breakpoint-down(sm)
                        {
                            left:77px;
                            right:auto;
                        }
                    }
                }
                .te_currency_name
                {
                   font-size: nth($f_sizes,3);
                }
            }
        }
    }
}
@include media-breakpoint-down(sm){
    .js_language_selector .btn-secondary span.caret.ml4 {
        margin-left: 0px !important;
    }
}
.te_header_navbar {
     
    .navbar-brand.logo {
        margin-left: 10px;
        max-width: 200px;
        padding: 0;
        @media (max-width: 365px){
            margin: 0px;
        }
        @include media-breakpoint-down(md){
            width:auto;
            margin-right: 0px;
        }
    }
    .navbar-collapse{
		max-width: calc(100% - 450px);
		min-height: 70px;
		@include media-breakpoint-down(md)
		{
			max-width: calc(100% - 400px);
		}
		@include media-breakpoint-down(sm)
		{
			max-width: unset;
			order: 2;
		}
        > ul {
            > li {
                > a.nav-link {
                    @include style(1,5)
					margin: 0 4px;
					padding-top: 1.5rem;
					padding-bottom: 1.5rem;
                }
            }
        }
    }
}
.te_header_before_overlay .h8_pricelist .dropdown-menu,
.te_header_before_overlay .h8_pricelist .dropdown-menu.show,
.te_header_before_overlay .js_language_selector .dropdown-menu,
.te_header_before_overlay .js_language_selector .dropdown-menu.show{
    left: auto !important;
    right: 0px;
    top: 0px !important;
}
@include media-breakpoint-down(sm){
    .te_header_before_overlay .h8_pricelist .dropdown-menu,
    .te_header_before_overlay .h8_pricelist .dropdown-menu.show{
        left:0px !important;
    }
}
/* Sticky header styles*/
body.fixed-header{
    .te_header_before_left {
        > div a,
        > div .btn-link{
            color: nth($f_color,5);
        }
    }
    .row.align-items-center
    {
        .te_sub_search
        {
            input.search-query.form-control.oe_search_box
            {
                border-bottom: 1px solid nth($f_color,5);
                color: nth($f_color,5);
            }
            button.btn.btn-primary.oe_search_button
            {
                color:nth($f_color,5);
            }
        }
    }
    .te_header_before_right
    {
        > div a.dropdown-toggle,
        .js_language_selector button.btn.btn-sm.btn-secondary.dropdown-toggle{
            color:nth($f_color,5) !important;
        }
    }
    .te_header_social a,
    .te_header_before_right > div{
        border-left-color: rgba(255, 255, 255, 0.3) !important;
    }
    .te_header_before_right > div:first-child{border-left:0px !important;}
    .te_header_right_icon .te_cart_icon_head > div > a,
    .te_header_right_icon .te_wish_icon_head > div > a,
    .te_header_right_icon > div > a,
    .te_header_right_icon > div.te_header_account a.btn-link,
    .te_header_navbar .navbar-collapse > ul > li > a.nav-link{
        color:$link-color;
    }
}
#wrapwrap.homepage > header:not(.o_header_affix) > .navbar,
#wrapwrap.homepage > header:not(.o_header_affix) > .te_header_before_overlay{
    background-color: transparent !important;
    padding-top: 0px !important;
    @include transition(all,0.55s,ease);
    border-bottom-color: rgba(255, 255, 255, 0.3);
}
#wrapwrap:not(.header_top_overlay) > header:not(.o_header_affix) .te_header_before_overlay {
    background-color:nth($f_color,3);
    border-bottom:1px solid rgba(255, 255, 255, 0.3);
    @include media-breakpoint-down(sm)
	{
	    padding:0px;
	}
}
body:not(.fixed-header) .header_top_overlay #wrapwrap header .navbar {
    box-shadow: none;
    padding-top: 0px !important;
}
.o_header_affix .te_header_navbar{
    box-shadow: none;
}
div#wrapwrap:not(.header_top_overlay) .te_header_navbar {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
    padding-top:0px !important;
}
div#wrapwrap.homepage:not(.header_top_overlay) .te_header_navbar{
    box-shadow:none;
}
div#wrapwrap.header_top_overlay .te_header_navbar {
    box-shadow: none !important;
}
#wrapwrap.header_top_overlay > header:not(.o_header_affix),
#wrapwrap.homepage > header:not(.o_header_affix){
    @include position(absolute,auto,0,auto,0);
    z-index: 1000;
}
#wrapwrap.header_top_overlay nav[class*=".o_main_navbar"] header:not(.o_header_affix){
    top: 46px;
}
body:not(.fixed-header) #wrapwrap header:hover .te_header_social a,
body:not(.fixed-header) #wrapwrap header:hover .te_header_before_right > div{
    border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
}
body:not(.fixed-header) #wrapwrap header:hover .te_header_social a:first-child,
body:not(.fixed-header) #wrapwrap header:hover .te_header_before_right > div:first-child{
    border-left:0px !important;
}
body:not(.fixed-header) #wrapwrap header > .te_header_navbar .navbar-collapse > ul > li > a.nav-link{
    color:$link-color;
}
body.fixed-header #wrapwrap.header_top_overlay header > .te_header_navbar .navbar-collapse > ul > li > a.nav-link{
    color:$link-color;
}
body #wrapwrap:not(.header_top_overlay) header .te_header_right_icon > div > a,
body #wrapwrap:not(.header_top_overlay) header .te_header_right_icon > div.te_header_account a.btn-link{
    color:$link-color;
}
body.fixed-header .te_header_before_left > div a:first-child {
    border-left: 0px;
}
body #wrapwrap.header_top_overlay header > .te_header_navbar .navbar-collapse > ul > li > a.nav-link{
    color:nth($f_color,5);
    @include media-breakpoint-down(sm)
	{
		color:$link-color;
	}
}
body:not(.fixed-header) #wrapwrap header:hover .te_header_before_overlay {
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
body.fixed-header #wrapwrap.homepage header > .navbar.navbar-expand-md{
    background-color:nth($f_color,5) !important;
    padding-top: 0px !important;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12) !important;
}
body.fixed-header #wrapwrap.homepage header > .te_header_before_overlay{
    background-color:nth($f_color,3) !important;
}
div.homepage .te_header_social > a{
    border-left:1px solid rgba(255, 255, 255, 0.3) !important;
}
#wrapwrap.homepage.header_top_overlay > header:not(.o_header_affix) > .navbar{
    box-shadow:none !important;
}
div.homepage.header_top_overlay > header.o_header_affix .navbar{
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
}
body:not(.fixed-header) .header_top_overlay header:not(:hover),
body:not(.fixed-header) .homepage header:not(:hover){
    @include media-breakpoint-up(md){
        box-shadow:none;
    }
}
header.o_affix_enabled {
    position: fixed !important;
    top: auto;
    left: 0;
    right: 0;
    z-index: 25;
    @include transition(all,0.55s,ease);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height:auto;
}
#wrapwrap nav[class*=".o_main_navbar"] header.o_affix_enabled{
    top: 46px;
}
.te_header_before_overlay {
    width: 100%;
    order: -1;
    background: nth($f_color,3);
    flex: 0 0 100%;
    max-width: 100%;
}
.header_top_overlay header.o_header_affix {
    display: none !important;
}
body:not(.fixed-header) header:not(:hover) .te_header_before_overlay {
    background: none;
    border-bottom:1px solid rgba(255, 255, 255, 0.3);
}
.navbar .navbar-nav > li.mm-mega-menu {
    position: static;
}
header .navbar > .container {
    max-width: 100%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}
header.o_header_affix {
    position: relative !important;
    margin: 0 !important;
    top: 0 !important;
    opacity: 0;
    z-index: -1 !important;
    pointer-events: none;
}
header .navbar .navbar-nav {
    margin: 0 auto !important;
}
body.fixed-header header .navbar {
    padding: 0;
    background: nth($f_color,5);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
}
/*Menu label text styles*/
@include media-breakpoint-up(md){
    #top_menu_collapse #top_menu > li > a.nav-link span#menu_label_tx_span{
        top:-8px;
    }
}
#top_menu > li.o_extra_menu_items > ul.dropdown-menu > li > a.dropdown-item{
    & span#menu_label_tx_span{
        position:absolute;
    }
    & span.te_custom_menu_label {
        @include position(relative,null,4px,null,auto);
    }
}
.fixed-header-bar span#menu_label_tx_span {
    display: none;
}
body.editor_enable.editor_has_snippets .te_header_before_overlay{
    padding-left: 230px;
}
body.editor_enable.editor_has_snippets .te_header_navbar .container{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}