/* ================= Main Colors =========================*/
$o-theme-color-palettes: (
    (
        'alpha': $theme_color,
        'beta': #868e96,
        'gamma': yellow,
        'delta': $delta,
        'epsilon': $epsilon,
    ),
);
/* ==================== Text Colors =========================*/
$o-color-palettes: (
    (
		'body': null, // Default to bootstrap
	    'menu': null,
	    'footer': #F9F9F9,
	    'text': null,
	    'h1':  null,
	    'h2':  null,
	    'h3':  null,
	    'h4':  null,
	    'h5':  null,
	    'h6':  null,
	    'product_label':  $theme_color,
    ),
);
/* ===================== State Colors ========================*/
$success:       #00b115 !default;
$info:          #ffaa50 !default;
$warning:       #ff5050 !default;
$danger:        #900000 !default;